@model AuthViewModel

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="bg-light flex-column p-5">
        <form class="d-flex flex-column align-items-center" asp-action="Login" asp-controller="Auth" method="post">
            <h4>Войти в аккаунт</h4>

            <label asp-for="UserName"></label><br />
            <input class="form-control mx-auto m-2" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>

            <label asp-for="Password"></label><br />
            <input class="form-control mx-auto m-2" asp-for="Password" />
            <span asp-validation-for="Password"></span>

            <div class="form-check m-2">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe" >
                <label asp-for="RememberMe" class="form-check-label"></label>
                <span asp-validation-for="RememberMe"></span>
            </div>

            <input type="submit" class="btn btn-primary mx-auto" value="Войти в аккаунт" />
            <div asp-validation-summary="All"></div>
        </form>

        <a class="mx-auto " asp-action="Register" asp-controller="Auth">Зарегистрироваться</a>
    </div>
</div>


@section scripts
{
    @* Скрипты для валидации инпутов *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}
