@model RegisterViewModel

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="bg-light flex-column p-5">
        <form id="registration-form" class="d-flex flex-column align-items-center" asp-action="Register" asp-controller="Auth" method="post">
            <h4>Регистрация</h4>

            <label asp-for="UserName"></label><br />
            <input class="form-control mx-auto m-2" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>

            <label asp-for="Password"></label><br />
            <input class="form-control mx-auto m-2" asp-for="Password" />
            <span asp-validation-for="Password"></span>

            <label asp-for="PasswordConfirm"></label><br />
            <input class="form-control mx-auto m-2" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>

            <div class="g-recaptcha mx-auto m-2" data-sitekey="@Model.CaptchaKey" data-action="SIGNUP"></div>
            <input type="hidden" id="g-recaptcha-response" asp-for="@Model.CaptchaToken" value="Token" />

            <input id="registration-input-submit" class="btn btn-primary mx-auto" type="submit" value="Зарегистрироваться" />

            <div asp-validation-summary="All"></div>
        </form>

        <a asp-action="Login" asp-controller="Auth">Войти в аккаунт</a>
    </div>
</div>

@section scripts
{
@* Скрипты для валидации инпутов *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

@* Скристы для капчи *@
<script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
<script>
    window.onload = function() {
        grecaptcha.enterprise.ready(function() {
            grecaptcha.enterprise.execute('@Model.CaptchaKey', { action: 'SIGNUP' })
                .then(function(token) {
                    console.log(token);
                    document.getElementById('g-recaptcha-response').value = token;
                })
                .catch(function(error) {
                    console.error('reCAPTCHA error:', error);
                });
        });
    };
</script>
}